*.env
*.db
*.log
node_modules/
out/
activityRolesList.txt
export.json
scripts/
justfile
docker-compose.yaml

# yarn v2+:
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions