*.env
config.ts
*.log
node_modules/
out/
activityRolesList.txt
export.json
scripts/

# my script to start with pino-logflare, hidden because of credentials
dev-logflare.cmd

# my release script
release.sh